img{
    width: 700px
}

.post{
    padding-top: 1rem;
    background-color: lime;
    padding-bottom: 1rem;
}

.indPost{
    display: flex;
    justify-content: center;
}


.banner-subreddit{
    float: left;
    margin-left: 20%;
    margin-top: 1rem;
}

.banner-title{
    float: center;
    margin-left: -20%;
    font-size: 2rem;
}