.votes{
    font-size: 1.5rem;
    background-color: darkcyan;
    width: 3em;
    margin-right: 1em;
    margin-top: 0.66em;
}


.arrowUp{
    font-size: 3rem;
    -webkit-text-stroke: 1px #ffa500;
    color: white;
}

.arrowDown{
    font-size: 3rem;
    -webkit-text-stroke: 1px #87cefa;
    color: white;
}

.arrowUp:hover{
    color: orange;
}

.arrowDown:hover{
    color: lightskyblue
}

.arrowUp:active{
    color: rgb(255, 136, 0);
    -webkit-text-stroke:rgb(255, 136, 0);
}

.arrowDown:active{
    color: rgb(48, 176, 255);
    -webkit-text-stroke:rgb(48, 176, 255);
}

i{
    padding-left: 0.25em;
}